* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        flex: 1 0 auto;
    }
}