@use '../../mixins.scss';

.header {
    background-color: var(--black-bg);
    padding: 14px 0;

    &__content {
        @include mixins.flex(space-between, center);
        color: var(--white);
    }
}